
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
</head>
<body>
    <form action="~/home/checklogin" method="post">
        <input type="text" name="userName" />
        <input type="password" name="password"/>
        <input type="submit" value="GİRİŞ" />
    </form>
    @if (ViewData["error"] != null)
    {
        <p>@ViewData["error"]</p>
    }
</body>
</html>
